eventkit==1.0.3
exchange_calendars==4.6
holidays==0.62
ib-insync==0.9.86
ib_async==1.0.3
korean-lunar-calendar==0.3.1
nest-asyncio==1.6.0
numpy==2.2.1
pandas==2.2.3
pandas_market_calendars==4.4.2
pyluach==2.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
toolz==1.0.0
tzdata==2024.2
google-auth
google-api-python-client